<form action="#" th:action="@{/add-pessoa-fisica}" th:object="${pf}" method="post">

    <label for="nome">Nome</label>
    <input type="text" th:field="*{nome}" id="nome" placeholder="Nome">   
    
    <label for="cpf">CPF</label>
    <input type="text" th:field="*{cpf}" id="cpf" placeholder="CPF">
    
    <label for="telefone">Telefone</label>
    <input type="text" th:field="*{telefone}" id="tel" placeholder="Tel.">
    
    <input type="submit" value="Adiciona Cliente">   
</form>