<div th:switch="${clientes}">
    <h2 th:case="null">Lista Vazia!</h2>
        <div th:case="*">
            <h2>Clientes - Pessoa Física</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Tipo Cliente</th>
                        <th>Editar</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.nome}"></td>
                    <td th:text="${cliente.telefone}"></td>
                    <td th:text="${cliente.tipo_cliente}"></td>
                    <td><a th:href="@{/show-editform-pf/{id}(id=${cliente.idcliente})}">Editar</a></td>
                    <td><a th:href="@{/delete-pessoa-fisica/{id}(id=${cliente.idcliente})}">Deletar</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a href="/show-addform-pf">Adicionar cliente</a></p>
</div>