<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Spring Boot Thymeleaf - Bootstrap WebJars</title>

<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>
<body>

	<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
		<!-- Static navbar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">				
				<div id="navbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/lista-clientes-pfisica">Lista de Clientes</a></li>
					</ul>					
				</div>				
			</div>			
		</nav>
	</header>

	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>